<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Signin for anime quiz!</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Css set background color and locate login panel-->
    <style type="text/css">
      body{background-color: #F7F7F6;}
      .container{padding-top: 100px; width: 450px; height: 300px;}
      .newBottonContainer{padding-top: 25px; position:absolute; width:500px; left:50%; margin-left:105px;}
    </style>

  </head>

  <body>
    <!-- Main container -->
    <div class="container">
      <form class="form-signin" role="form" method="POST" action="" accept-charset="UTF-8">
        <legend>Please Sign In</legend>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label></label>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label></label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
    <!-- registration container -->
    <div class="newBottonContainer">
      <p>
      <a class="btn btn-lg btn-primary btn-info" href="signUp.html" role="button">I'm New!</a>
      </p>
    </div>

    <!-- Java Script -->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>