<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Signup for anime quiz!</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Css set background color and locate login panel-->
    <style type="text/css">
      body{background-color: #F7F7F6;}
      .container{padding-top: 100px; width: 400px; height: 800px;}
    </style>

  </head>

  <body>
    <!-- /container -->
    <div class="container">
      <form class="form-signin" role="form" method="POST" action="" accept-charset="UTF-8">
        <legend>Enter Information to Join!</legend>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label></label>
        <label for="username" class="sr-only">User name</label>
        <input type="username" id="username" class="form-control" placeholder="User name" required>
        <label></label>
        <label for="newPassword" class="sr-only">New password</label>
        <input type="newpassword" id="newPassword" class="form-control" placeholder="New password" required>
        <label></label>
        <label for="re-enterPassword" class="sr-only">Re-enter password</label>
        <input type="re-enterPassword" id="re-enterPassword" class="form-control" placeholder="Re-enter password" required>
        <label></label>
        <button class="btn btn-lg btn-success btn-block" type="submit" id="submitBotton">Sign Up</button>
      </form>

    </div>

    <!-- Java Script -->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="http://code.jquery.com/jquery-.1.01.2.min.js"></script>
    <script type="text/javascript">
      $("submitBotton").click(function(){
      var password = $(#"newPassword").val();
      var repassword = $(#"re-enterPassword").val();
      
      if (password != repassword){
          alert("You did not enter the same new password twice. Please re-enter your password.");
          return false;
        }
        return true;
      }
        );
    </script>
  </body>
</html>