{% extends "base.html" %}

{% block content %}
	<title>Signup for anime quiz!</title>

	<body>
		<h1> Welcome to anime quiz! </h1>

		<div class="container">
			{% if messages %}
			<div class='row'>
				<div class='col-xs-12'>

    				{% for message in messages %}
    				<p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    				{% endfor %}
				</div>
			</div>
		    {% endif %}
		</div>

		<form method='POST' action=''> {% csrf_token %}
		{{form.as_p}}
		<input type='submit'>
		</form>

	</body>
{% endblock %}